<div>
    <form [formGroup]="userFormBuilder" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Name" formControlName="name" /><br>
        <div *ngIf="userFormBuilder.get('name')?.touched && userFormBuilder.get('name')?.invalid">
            <div *ngIf="name?.errors?.['required']">
                "name" is required.
            </div>
            <div *ngIf="name?.errors?.['minlength']">
                "name" requires atleast 3 characters.
            </div>
        </div>

        <input type="text" placeholder="Type" formControlName="type" /><br>
    
        <input type="text" placeholder="Description" formControlName="description" />
    
        <div formArrayName="nicknames">
            <div *ngFor="let x of nicknames.controls; let i = index">
                <input type="text" placeholder="Nickname" [formControlName]="i" />
                <button (click)="addNickname()">Add nickname</button>
            </div>
        </div><br>
    
        <button type="submit" [disabled]="!userFormBuilder.valid">Submit</button>
    </form>

    <p>
        {{ userFormBuilder.value | json }}
    </p>
</div>